
/*Normalize html, body and container*/
    html,body {
      height: 100%;
      padding: 0;
    }

    #margin-fix {
      padding: 0;
    }

    body {
      text-align: center;
      font-family: 'Philosopher', sans-serif;
      font-size: 1.7em;
    }

    h2 {
      font-size: 2.4em;
      margin-bottom: 50px;
    }

/*////////////////*/
/*Carousel Styling*/
/*////////////////*/

    #carousel-container {
      padding: 0;
      margin-bottom: 140px;
    }

    .carousel-inner > .item > a > img {
        margin: 0 auto;
        height: 500px;
        width: 100%;
    }

    .carousel-caption {
      background-color: lightgrey;
      border: 2px solid black;
      color: black;
      border-radius: 10px;
      opacity: 0.8;
      padding: 20px;
    }

/*/////////////*/
/*About Styling*/
/*/////////////*/

    .profile-container {
      margin: 25px 0 60px;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-size: 2em;
      text-align: center;
      color: white;
      background-color: black;
    }

    .profile-pic > img {
      width: 230px;
    }

    .profile-caption {
      margin-top: 40px;
    }

    .about-container {
      padding-top: 40px;
      padding-bottom: 140px;
      background-color: black;
      color: white;
    }

    .about-container i {
      padding-top: 15%;
    }

    .about-row {
      margin-bottom: 50px;
    }

    .background-container,.skills-container,.interests-container {
      padding: 0 30px;
    }

    h4 {
      font-weight: bold;
      font-size: 2em;
      text-decoration: underline;
      margin-bottom: 20px;
    }

    li {
      list-style: none;
      text-align: left;
    }

/*/////////////*/
/*Icon Styling*/
/*/////////////*/

  .icon-links {
    padding: 70px 0;
    text-align: center;
  }

  .icon-links a {
    color: darkgrey;
    margin: 30px;
  }

  .icon-links > a:hover {
    color: black;
  }


/*/////////////*/
/*Media Queries*/
/*/////////////*/

@media (max-width: 767px) {
  .about-container .about-row .background-list,
  .about-container .about-row .skills-list,
  .about-container .about-row .interests-list{
    padding-left: 0;
  }
  .about-container .about-row .background-list li,
  .about-container .about-row .skills-list li,
  .about-container .about-row .interests-list li{
    text-align: center;
  }
}

@media (max-width: 600px) {
  .carousel-inner > .item > a > img {
      height: 365px;
  }
}


@media (max-width: 600px) {
  .icon-links > a:first-child{
    margin-left: 11px;
  }
}





