
/*Normalize html, body and container*/
    html,body {
      height: 100%;
      padding: 0;
    }

    #margin-fix {
      padding: 0;
    }

    body {
      text-align: center;
      font-family: 'Philosopher', sans-serif;
      font-size: 1.7em;
    }

    h2 {
      font-size: 2.4em;
      margin-bottom: 50px;
    }

/*////////////////*/
/*Carousel Styling*/
/*////////////////*/

    #carousel-container {
      padding: 0;
      margin-bottom: 140px;
    }

    .carousel-inner > .item > img {
        margin: 0 auto;
        height: 500px;
        width: 100%;
    }

    .carousel-caption {
      background-color: lightgrey;
      border: 2px solid black;
      color: black;
      border-radius: 10px;
      opacity: 0.8;
      padding: 20px;
    }

/*/////////////*/
/*About Styling*/
/*/////////////*/

    .profile-container {
      margin: 60px 0;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-size: 2.3em;
      text-align: center;
      color: white;
      background-color: black;
    }

    .profile-pic > img {
      width: 230px;
    }

    .profile-caption {
      margin-top: 40px;
    }

    .about-container {
      padding-top: 40px;
      padding-bottom: 180px;
      background-color: black;
      color: white;
    }

    .about-container i {
      padding-top: 15%;
    }

    .about-row {
      margin-bottom: 50px;
    }

    .background-container,.skills-container,.interests-container {
/*      font-size: 1.3em;*/
    }

    h4 {
      font-weight: bold;
    }

    li {
      list-style: none;
      text-align: left;
    }

/*/////////////*/
/*Icon Styling*/
/*/////////////*/

.icon-links {
  color: darkgrey;
  margin: 60px;
}

.icon-links > i {
  margin-right: 25px;
}

.icon-links > i:hover {
  color: black;
}




