


/*////////////////////////////////////////////////////////////////////*/
/*//////////////////////////// Defaults //////////////////////////////*/
/*////////////////////////////////////////////////////////////////////*/


body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin: 0;
  padding: 0;
}

.profilePic, .profilePicCaptionContainer, .threedatajsContainer,
.terminalColorCaptureContainer,
.spaceRaceContainer {
  -moz-transition: width 2s, height 2s, color 2s, font-size 1s, opacity 1s, -moz-transform 3s;
  -webkit-transition: width 2s, height 2s, color 2s, font-size 1s, opacity 1s, -webkit-transform 3s;
  transition: width 2s, height 2s, color 2s, font-size 1s, opacity 1s, transform 3s; }



/*///////////////////////////////////////////////////////////////////*/
/*//////////////////////////// Headers //////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/


  .projectsHeader {
    position: absolute;
    bottom: 2%;
    left: 46%;
    z-index: 1;
    color: black;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px; }

  .infoHeader {
    position: absolute;
    bottom: 2%;
    left: 47.5%;
    z-index: 1;
    color: white;
    background-color: black;
    border: 3px solid white;
    border-radius: 5px;
    padding: 10px; }

  .linksHeader {
    position: absolute;
    bottom: 2%;
    left: 47%;
    z-index: 1;
    color: black;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px; }


/*//////////////////////////////////////////////////////////////////*/
/*//////////////////////////// Arrows //////////////////////////////*/
/*//////////////////////////////////////////////////////////////////*/


  /*Default Hidden*/

  .nav-icon-projects, .nav-icon-info, .nav-icon-links {
    display: none; }

  /*Positioning*/

  .nav-icon-left, .nav-icon-right, .nav-icon-up, .nav-icon-home, .nav-icon-info {
    position: absolute;
    z-index: 10;
    -moz-transition: width 2s, height 2s, color 1s, font-size 1s, opacity 1s, -webkit-transform 2s;
    -webkit-transition: width 2s, height 2s, color 1s, font-size 1s, opacity 1s, -webkit-transform 2s;
    transition: width 2s, height 2s, color 1s, font-size 1s, opacity 1s, transform 2s;
  }

  .nav-icon-left {
    top: 40%;
    left: 2%;
    font-size: 10vw;
    opacity: 0;
  }

  .nav-icon-right {
    top: 40%;
    right: 2%;
    font-size: 10vw;
    opacity: 0;
  }

  .nav-icon-up {
    top: 2%;
    right: 45%;
    font-size: 4vw;
    width: 100px;
    opacity: 0;
  }

  body:hover .nav-icon-left {
    opacity: 1;
  }

  body:hover .nav-icon-right {
    opacity: 1;
  }

  body:hover .nav-icon-up {
    opacity: 1;
  }

  /*Colors and Font Size*/

  .nav-icon-left-white, .nav-icon-right-white, .nav-icon-up-white {
    color: white;
    -moz-transition: opacity 2s font-size 2s color: 2s;
    -webkit-transition: opacity 2s font-size 2s color: 2s;
    transition: opacity 2s font-size 2s color: 2s;
  }
  .nav-icon-left-black, .nav-icon-right-black, .nav-icon-up-black {
    color: black;
    -moz-transition: opacity 2s font-size 2s color: 2s;
    -webkit-transition: opacity 2s font-size 2s color: 2s;
    transition: opacity 2s font-size 2s color: 2s;
  }

    .nav-icon-left-white:hover, .nav-icon-right-white:hover, .nav-icon-up-white:hover,
    .nav-icon-left-black:hover, .nav-icon-right-black:hover, .nav-icon-up-black:hover {
      font-size: 12vw;
      color: tomato; }

  .nav-icon-up-white {
    color: white; }
  .nav-icon-up-black {
    color: black; }
    .nav-icon-up-white:hover,.nav-icon-up-black:hover {
      font-size: 5vw;
      color: tomato; }



/*////////////////////////////////////////////////////////////////*/
/*//////////////////////////// Home //////////////////////////////*/
/*////////////////////////////////////////////////////////////////*/



  .nav-icon-home-container,.nav-icon-home{
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
  }

  .nav-icon-home {
    top: 16%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    font-size: 36vw;
    width: 33%;
    color: white;
    background-color: black;
    border: 5px solid white;
    border-radius: 20px;
    padding: 20px;
  }

  body:hover .nav-icon-home {
    opacity: 0; }

  .profilePic {
    border: 5px solid white;
    border-radius: 50px;
    width: 480px;
    -moz-transform: translateX(250px) scale(0.5);
    -webkit-transform: translateX(250px) scale(0.5);
    transform: translateX(250px) scale(0.5);
  }

  .profilePic:hover {
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }

  .profilePicCaptionContainer .profileCaption {
    font-size: 7vw;
    color: white; }

  .profilePicCaptionContainer {
    width: 740px;
    border: 10px solid white;
    padding: 40px;
    border-radius: 50px;
    background-color: black;
    -moz-transform: translateX(-400px) scale(0.5);
    -webkit-transform: translateX(-400px) scale(0.5);
    transform: translateX(-400px) scale(0.5);
  }

  /*Return to Position When Body Hover*/

  body:hover .profilePic {
    -moz-transform: translateX(0px) scale(1);
    -webkit-transform: translateX(0px) scale(1);
    transform: translateX(0px) scale(1);
  }

  body:hover .profilePicCaptionContainer {
    -moz-transform: translateX(0px) scale(1);
    -webkit-transform: translateX(0px) scale(1);
    transform: translateX(0px) scale(1);
  }



/*////////////////////////////////////////////////////////////////////*/
/*//////////////////////////// Projects //////////////////////////////*/
/*////////////////////////////////////////////////////////////////////*/



  .projectTitle {
    font-size: 3em;
    text-align: center;
    margin: 10px; }

  .nav-icon-projects {
    position: absolute;
    z-index: 10;
    top: 16%;
    left: 31%;
    width: 32%;
    font-size: 26em;
    color: black;
    background-color: white;
    border: 5px solid black;
    border-radius: 20px;
    padding: 20px;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
  }

  .projectDescriptionsContainer {
    position: absolute;
    z-index: 9000000;
    top: 16%;
    left: 51%;
    font-size: 1.8em;
    width: 350px;
    color: white;
    background-color: black;
    border: 5px solid white;
    border-radius: 20px;
    padding: 20px;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
  }

  body:hover .nav-icon-projects {
    opacity: 0;
    z-index: 0; }

  .threedatajsContainer, .terminalColorCaptureContainer, .spaceRaceContainer {
    padding: 20px;
    border: 10px solid black;
    border-radius: 20px;
    background-color: white;
  }

  .threedatajsContainer {
    -moz-transform: translateY(400px) translateX(450px) scale(0.5);
    -webkit-transform: translateY(400px) translateX(450px) scale(0.5);
    transform: translateY(400px) translateX(450px) scale(0.5);
  }
    .threedatajsContainer .threedatajs {
      width: 800px; }

  .terminalColorCaptureContainer {
    -moz-transform: translateY(400px) translateX(-400px) scale(0.5);
    -webkit-transform: translateY(400px) translateX(-400px) scale(0.5);
    transform: translateY(400px) translateX(-400px) scale(0.5);
  }

  .spaceRaceContainer {
    -moz-transform: translateY(-300px) scale(0.5);
    -webkit-transform: translateY(-300px) scale(0.5);
    transform: translateY(-300px) scale(0.5);
  }

  body:hover .threedatajsContainer, body:hover .terminalColorCaptureContainer,
  body:hover .spaceRaceContainer {
    -moz-transform: translateX(0px) translateY(0px);
    -webkit-transform: translateX(0px) translateY(0px);
    transform: translateX(0px) translateY(0px);
  }



/*////////////////////////////////////////////////////////////////*/
/*//////////////////////////// Info //////////////////////////////*/
/*////////////////////////////////////////////////////////////////*/



  .infoDescriptionsHeader {
    text-align: center;
    font-weight: bold;
  }

  .infoDescriptionsContainer {
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    position: absolute;
    z-index: 0;
    top: 14%;
    left: 29%;
    font-size: 1.4em;
    width: 500px;
    height: 350px;
    color: black;
    background-color: white;
    border: 5px solid tomato;
    border-radius: 20px;
    padding: 100px 20px 20px; }

  .closeInfoDescription {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 2em;
    top: 9%;
    left: 29%; }

  .backgroundContainer, .skillsContainer, .interestsContainer {
    color: white;
    background-color: black;
    padding: 80px;
    border: 5px solid white;
    border-radius: 50%;
    font-size: 3em;
    -moz-transition: width 2s, height 2s, color 2s, font-size 1s, opacity 1s, -webkit-transform 2s;
    -webkit-transition: width 2s, height 2s, color 2s, font-size 1s, opacity 1s, -webkit-transform 2s;
    transition: width 2s, height 2s, color 2s, font-size 1s, opacity 1s, transform 2s; }

  .skills-list {
    list-style: none;
    text-align: center;
    margin-left: -35px; }
    .skills-list li {
      display: inline-block;
      padding: 5px;
      margin: 5px;
      border: 1px solid black;
      border-radius: 5px; }
      .skills-list li img {
        width: 60px;
        height: 60px; }

  .interests-list {
    padding: 40px 80px; }
    .interests-list li {
      margin-bottom: 30px; }

  /* Animations */

    .backgroundContainer {
      -webkit-animation: rearrangeBackground 5s ease-in-out infinite;
      -moz-animation: rearrangeBackground 5s ease-in-out infinite;
      animation: rearrangeBackground 5s ease-in-out infinite; }

    .skillsContainer {
      -webkit-animation: rearrangeSkills 5s ease-in-out infinite;
      -moz-animation: rearrangeSkills 5s ease-in-out infinite;
      animation: rearrangeSkills 5s ease-in-out infinite; }

    .interestsContainer {
      -webkit-animation: rearrangeInterests 5s ease-in-out infinite;
      -moz-animation: rearrangeInterests 5s ease-in-out infinite;
      animation: rearrangeInterests 5s ease-in-out infinite; }

  /* Hover Effects */

    body:hover .backgroundContainer, body:hover .skillsContainer, body:hover .interestsContainer {
      -webkit-animation: none;
      -moz-animation: none;
      animation: none; }

    body:hover .backgroundContainer {
      transform: translateX(0px) translateY(250px);
      -webkit-transform: translateX(0px) translateY(250px);
      -moz-transform: translateX(0px) translateY(250px); }

    body:hover .skillsContainer {
      transform: translateX(0px) translateY(250px);
      -webkit-transform: translateX(0px) translateY(250px);
      -moz-transform: translateX(0px) translateY(250px); }

    body:hover .interestsContainer {
      transform: translateX(0px) translateY(-250px);
      -webkit-transform: translateX(0px) translateY(-250px);
      -moz-transform: translateX(0px) translateY(-250px); }

    body:hover .backgroundContainer:hover {
      transform: translateX(0px) translateY(250px) rotateY(180deg);
      -webkit-transform: translateX(0px) translateY(250px) rotateY(180deg);
      -moz-transform: translateX(0px) translateY(250px) rotateY(180deg);
      color: black;
      background-color: white;
      border: 5px solid tomato; }

    body:hover .skillsContainer:hover {
      transform: translateX(0px) translateY(250px) rotateY(180deg);
      -webkit-transform: translateX(0px) translateY(250px) rotateY(180deg);
      -moz-transform: translateX(0px) translateY(250px) rotateY(180deg);
      color: black;
      background-color: white;
      border: 5px solid tomato; }

    body:hover .interestsContainer:hover {
      transform: translateX(0px) translateY(-250px) rotateY(180deg);
      -webkit-transform: translateX(0px) translateY(-250px) rotateY(180deg);
      -moz-transform: translateX(0px) translateY(-250px) rotateY(180deg);
      color: black;
      background-color: white;
      border: 5px solid tomato; }



/*//////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////// Links ////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/



.githubContainer, .linked_inContainer, .emailContainer, .resumeContainer {
  color: black;
  background-color: white;
  padding: 80px;
  border: 5px solid black;
  border-radius: 5px;
  font-size: 3em;
  -moz-transition: width 2s, height 2s, color 2s, font-size 1s, opacity 1s, -webkit-transform 2s;
  -webkit-transition: width 2s, height 2s, color 2s, font-size 1s, opacity 1s, -webkit-transform 2s;
  transition: width 2s, height 2s, color 2s, font-size 1s, opacity 1s, transform 2s; }
  .githubContainer a, .linked_inContainer a, .emailContainer a, .resumeContainer a {
    display: block; }

.githubContainer a, .linked_inContainer a, .emailContainer a, .resumeContainer a {
  text-decoration: none;
  color: black; }

.githubContainer {
  -webkit-animation: githubSpin 4s ease-in-out infinite;
  -moz-animation: githubSpin 4s ease-in-out infinite;
  animation: githubSpin 4s ease-in-out infinite; }

.linked_inContainer {
  -webkit-animation: linkedInSpin 4s ease-in-out infinite;
  -moz-animation: linkedInSpin 4s ease-in-out infinite;
  animation: linkedInSpin 4s ease-in-out infinite; }

.emailContainer {
  -webkit-animation: emailSpin 4s ease-in-out infinite;
  -moz-animation: emailSpin 4s ease-in-out infinite;
  animation: emailSpin 4s ease-in-out infinite; }

.resumeContainer {
  -webkit-animation: resumeSpin 4s ease-in-out infinite;
  -moz-animation: resumeSpin 4s ease-in-out infinite;
  animation: resumeSpin 4s ease-in-out infinite; }

body:hover .githubContainer, body:hover .linked_inContainer, body:hover .emailContainer,
body:hover .resumeContainer {
  -webkit-animation: none;
  -moz-animation: none;
  animation: none; }

body:hover .githubContainer {
  transform: translateX(-400px) translateY(-400px);
  -webkit-transform: translateX(-400px) translateY(-400px);
  -moz-transform: translateX(-400px) translateY(-400px); }

body:hover .linked_inContainer {
  transform: translateX(400px) translateY(-400px);
  -webkit-transform: translateX(400px) translateY(-400px);
  -moz-transform: translateX(400px) translateY(-400px); }

body:hover .emailContainer {
  transform: translateX(-400px) translateY(400px);
  -webkit-transform: translateX(-400px) translateY(400px);
  -moz-transform: translateX(-400px) translateY(400px); }

body:hover .resumeContainer {
  transform: translateX(400px) translateY(400px);
  -webkit-transform: translateX(400px) translateY(400px);
  -moz-transform: translateX(400px) translateY(400px); }

body:hover .githubContainer:hover {
  transform: translateX(-300px) translateY(-300px) scale(1.5);
  -webkit-transform: translateX(-300px) translateY(-300px) scale(1.5);
  -moz-transform: translateX(-300px) translateY(-300px) scale(1.5);
  background-color: black;
  border: 5px solid tomato; }
  body:hover .githubContainer:hover a {
    color: white; }

body:hover .linked_inContainer:hover {
  transform: translateX(300px) translateY(-300px) scale(1.5);
  -webkit-transform: translateX(300px) translateY(-300px) scale(1.5);
  -moz-transform: translateX(300px) translateY(-300px) scale(1.5);
  background-color: black;
  border: 5px solid tomato; }
  body:hover .linked_inContainer:hover a {
    color: white; }

body:hover .emailContainer:hover {
  transform: translateX(-300px) translateY(300px) scale(1.5);
  -webkit-transform: translateX(-300px) translateY(300px) scale(1.5);
  -moz-transform: translateX(-300px) translateY(300px) scale(1.5);
  background-color: black;
  border: 5px solid tomato; }
  body:hover .emailContainer:hover a {
    color: white; }

body:hover .resumeContainer:hover {
  transform: translateX(300px) translateY(300px) scale(1.5);
  -webkit-transform: translateX(300px) translateY(300px) scale(1.5);
  -moz-transform: translateX(300px) translateY(300px) scale(1.5);
  color: white;
  background-color: black;
  border: 5px solid tomato; }
  body:hover .resumeContainer:hover a {
    color: white; }



/* Hidden Class */

.hidden {
  opacity: 0;
  display: none;
}



/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////// Animations //////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/



@-webkit-keyframes rearrangeBackground {
  0% {
    -webkit-transform: translateX(0px) translateY(0px);
    transform: translateX(0px) translateY(0px); }

  25% {
    -webkit-transform: translateX(0px) translateY(900px);
    transform: translateX(0px) translateY(900px); }

  50% {
    -webkit-transform: translateX(0px) translateY(900px) scale(1.3);
    transform: translateX(0px) translateY(900px) scale(1.3); }

  75% {
    -webkit-transform: translateX(-1050px) translateY(900px) rotate(180deg) scale(0.8);
    transform: translateX(-1050px) translateY(900px) rotate(180deg) scale(0.8); }

  100% {
    -webkit-transform: translateX(0px) translateY(0px);
    transform: translateX(0px) translateY(0px); } }

@-moz-keyframes rearrangeBackground {
  0% {
    -moz-transform: translateX(0px) translateY(0px);
    transform: translateX(0px) translateY(0px); }

  25% {
    -moz-transform: translateX(0px) translateY(900px);
    transform: translateX(0px) translateY(900px); }

  50% {
    -moz-transform: translateX(0px) translateY(900px) translateZ(200px) scale(1.3);
    transform: translateX(0px) translateY(900px) translateZ(200px) scale(1.3); }

  75% {
    -moz-transform: translateX(-1050px) translateY(900px) rotate(180deg) scale(0.8);
    transform: translateX(-1050px) translateY(900px) rotate(180deg) scale(0.8); }

  100% {
    -moz-transform: translateX(0px) translateY(0px);
    transform: translateX(0px) translateY(0px); } }

@keyframes rearrangeBackground {
  0% {
    -moz-transform: translateX(0px) translateY(0px);
    -webkit-transform: translateX(0px) translateY(0px);
    -o-transform: translateX(0px) translateY(0px);
    transform: translateX(0px) translateY(0px); }

  25% {
    -moz-transform: translateX(0px) translateY(900px);
    -webkit-transform: translateX(0px) translateY(900px);
    -o-transform: translateX(0px) translateY(900px);
    transform: translateX(0px) translateY(900px); }

  50% {
    -moz-transform: translateX(0px) translateY(900px) translateZ(200px) scale(1.3);
    -webkit-transform: translateX(0px) translateY(900px) translateZ(200px) scale(1.3);
    -o-transform: translateX(0px) translateY(900px) translateZ(200px) scale(1.3);
    transform: translateX(0px) translateY(900px) translateZ(200px) scale(1.3); }

  75% {
    -moz-transform: translateX(-1050px) translateY(900px) rotate(180deg) scale(0.8);
    -webkit-transform: translateX(-1050px) translateY(900px) rotate(180deg) scale(0.8);
    -o-transform: translateX(-1050px) translateY(900px) rotate(180deg) scale(0.8);
    transform: translateX(-1050px) translateY(900px) rotate(180deg) scale(0.8); }

  100% {
    -moz-transform: translateX(0px) translateY(0px);
    -webkit-transform: translateX(0px) translateY(0px);
    -o-transform: translateX(0px) translateY(0px);
    transform: translateX(0px) translateY(0px); } }

@-webkit-keyframes rearrangeSkills {
  0% {
    -webkit-transform: translateX(0px) translateY(0px);
    transform: translateX(0px) translateY(0px); }

  25% {
    -webkit-transform: translateX(0px) translateY(900px);
    transform: translateX(0px) translateY(900px); }

  50% {
    -webkit-transform: translateX(0px) translateY(0px) scale(0.8);
    transform: translateX(0px) translateY(0px) scale(0.8); }

  75% {
    -webkit-transform: translateX(1050px) translateY(0px) rotate(180deg) scale(1.3);
    transform: translateX(1051050px 0px) translateY(0px) rotate(180deg) scale(1.3); }

  100% {
    -webkit-transform: translateX(0px) translateY(0px);
    transform: translateX(0px) translateY(0px); } }

@-moz-keyframes rearrangeSkills {
  0% {
    -moz-transform: translateX(0px) translateY(0px);
    transform: translateX(0px) translateY(0px); }

  25% {
    -moz-transform: translateX(0px) translateY(900px);
    transform: translateX(0px) translateY(900px); }

  50% {
    -moz-transform: translateX(0px) translateY(0px) scale(0.8);
    transform: translateX(0px) translateY(0px) scale(0.8); }

  75% {
    -moz-transform: translateX(1050px) translateY(0px) rotate(180deg) scale(1.3);
    transform: translateX(1050px) translateY(0px) rotate(180deg) scale(1.3); }

  100% {
    -moz-transform: translateX(0px) translateY(0px);
    transform: translateX(0px) translateY(0px); } }

@keyframes rearrangeSkills {
  0% {
    -moz-transform: translateX(0px) translateY(0px);
    -webkit-transform: translateX(0px) translateY(0px);
    -o-transform: translateX(0px) translateY(0px);
    transform: translateX(0px) translateY(0px); }

  25% {
    -moz-transform: translateX(0px) translateY(900px);
    -webkit-transform: translateX(0px) translateY(900px);
    -o-transform: translateX(0px) translateY(900px);
    transform: translateX(0px) translateY(900px); }

  50% {
    -moz-transform: translateX(0px) translateY(0px) scale(0.8);
    -webkit-transform: translateX(0px) translateY(0px) scale(0.8);
    -o-transform: translateX(0px) translateY(0px) scale(0.8);
    transform: translateX(0px) translateY(0px) scale(0.8); }

  75% {
    -moz-transform: translateX(1050px) translateY(0px) rotate(180deg) scale(1.3);
    -webkit-transform: translateX(1050px) translateY(0px) rotate(180deg) scale(1.3);
    -o-transform: translateX(1050px) translateY(0px) rotate(180deg) scale(1.3);
    transform: translateX(1050px) translateY(0px) rotate(180deg) scale(1.3); }

  100% {
    -moz-transform: translateX(0px) translateY(0px);
    -webkit-transform: translateX(0px) translateY(0px);
    -o-transform: translateX(0px) translateY(0px);
    transform: translateX(0px) translateY(0px); } }

@-webkit-keyframes rearrangeInterests {
  0% {
    -webkit-transform: translateX(0px) translateY(0px);
    transform: translateX(0px) translateY(0px); }

  25% {
    -webkit-transform: translateX(0px) translateY(-900px);
    transform: translateX(0px) translateY(-900px); }

  50% {
    -webkit-transform: translateX(0px) translateY(-450px);
    transform: translateX(0px) translateY(-450px); }

  75% {
    -webkit-transform: translateX(0px) translateY(-450px) rotate(180deg);
    transform: translateX(0px) translateY(-450px) rotate(180deg); }

  100% {
    -webkit-transform: translateX(0px) translateY(0px);
    transform: translateX(0px) translateY(0px); } }

@-moz-keyframes rearrangeInterests {
  0% {
    -moz-transform: translateX(0px) translateY(0px);
    transform: translateX(0px) translateY(0px); }

  25% {
    -moz-transform: translateX(0px) translateY(-900px);
    transform: translateX(0px) translateY(-900px); }

  50% {
    -moz-transform: translateX(0px) translateY(-450px);
    transform: translateX(0px) translateY(-450px); }

  75% {
    -moz-transform: translateX(0px) translateY(-450px) rotate(180deg);
    transform: translateX(0px) translateY(-450px) rotate(180deg); }

  100% {
    -moz-transform: translateX(0px) translateY(0px);
    transform: translateX(0px) translateY(0px); } }

@keyframes rearrangeInterests {
  0% {
    -moz-transform: translateX(0px) translateY(0px);
    -webkit-transform: translateX(0px) translateY(0px);
    -o-transform: translateX(0px) translateY(0px);
    transform: translateX(0px) translateY(0px); }

  25% {
    -moz-transform: translateX(0px) translateY(-900px);
    -webkit-transform: translateX(0px) translateY(-900px);
    -o-transform: translateX(0px) translateY(-900px);
    transform: translateX(0px) translateY(-900px); }

  50% {
    -moz-transform: translateX(0px) translateY(-450px);
    -webkit-transform: translateX(0px) translateY(-450px);
    -o-transform: translateX(0px) translateY(-450px);
    transform: translateX(0px) translateY(-450px); }

  75% {
    -moz-transform: translateX(0px) translateY(-450px) rotate(180deg);
    -webkit-transform: translateX(0px) translateY(-450px) rotate(180deg);
    -o-transform: translateX(0px) translateY(-450px) rotate(180deg);
    transform: translateX(0px) translateY(-450px) rotate(180deg); }

  100% {
    -moz-transform: translateX(0px) translateY(0px);
    -webkit-transform: translateX(0px) translateY(0px);
    -o-transform: translateX(0px) translateY(0px);
    transform: translateX(0px) translateY(0px); } }

@-webkit-keyframes githubSpin {
  0% {
    -webkit-transform: translateX(0px) translateY(0px) scale(0);
    transform: translateX(0px) translateY(0px) scale(0); }

  12% {
    -webkit-transform: translateX(0px) translateY(0px) scale(1);
    transform: translateX(0px) translateY(0px) scale(1); }

  25% {
    -webkit-transform: translateX(-400px) translateY(-400px) scale(1) rotate(180deg);
    transform: translateX(-400px) translateY(-400px) scale(1) rotate(180deg); }

  50% {
    -webkit-transform: translateX(-600px) translateY(0px) scale(1);
    transform: translateX(-600px) translateY(0px) scale(1); }

  75% {
    -webkit-transform: translateX(0px) translateY(0px) scale(1);
    transform: translateX(0px) translateY(0px) scale(1); }

  100% {
    -webkit-transform: translateX(0px) translateY(0px) scale(0) rotate(360deg);
    transform: translateX(0px) translateY(0px) scale(0) rotate(360deg); } }

@-moz-keyframes githubSpin {
  0% {
    -moz-transform: translateX(0px) translateY(0px) scale(0);
    transform: translateX(0px) translateY(0px) scale(0); }

  12% {
    -moz-transform: translateX(0px) translateY(0px) scale(1);
    transform: translateX(0px) translateY(0px) scale(1); }

  25% {
    -moz-transform: translateX(-400px) translateY(-400px) scale(1) rotate(180deg);
    transform: translateX(-400px) translateY(400px) scale(1) rotate(180deg); }

  50% {
    -moz-transform: translateX(-600px) translateY(0px) scale(1);
    transform: translateX(-600px) translateY(0px) scale(1); }

  75% {
    -moz-transform: translateX(0px) translateY(0px) scale(1);
    transform: translateX(0px) translateY(0px) scale(1); }

  100% {
    -moz-transform: translateX(0px) translateY(0px) scale(0) rotate(360deg);
    transform: translateX(0px) translateY(0px) scale(0) rotate(360deg); } }

@keyframes githubSpin {
  0% {
    -moz-transform: translateX(0px) translateY(0px) scale(0);
    -webkit-transform: translateX(0px) translateY(0px) scale(0);
    -o-transform: translateX(0px) translateY(0px) scale(0);
    transform: translateX(0px) translateY(0px) scale(0); }

  12% {
    -moz-transform: translateX(0px) translateY(0px) scale(1);
    -webkit-transform: translateX(0px) translateY(0px) scale(1);
    -o-transform: translateX(0px) translateY(0px) scale(1);
    transform: translateX(0px) translateY(0px) scale(1); }

  25% {
    -moz-transform: translateX(-400px) translateY(-400px) scale(1) rotate(180deg);
    -webkit-transform: translateX(-400px) translateY(-400px) scale(1) rotate(180deg);
    -o-transform: translateX(-400px) translateY(-400px) scale(1) rotate(180deg);
    transform: translateX(-400px) translateY(-400px) scale(1) rotate(180deg); }

  50% {
    -moz-transform: translateX(-600px) translateY(0px) scale(1);
    -webkit-transform: translateX(-600px) translateY(0px) scale(1);
    -o-transform: translateX(-600px) translateY(0px) scale(1);
    transform: translateX(-600px) translateY(0px) scale(1); }

  75% {
    -moz-transform: translateX(0px) translateY(0px) scale(1);
    -webkit-transform: translateX(0px) translateY(0px) scale(1);
    -o-transform: translateX(0px) translateY(0px) scale(1);
    transform: translateX(0px) translateY(0px) scale(1); }

  100% {
    -moz-transform: translateX(0px) translateY(0px) scale(0) rotate(360deg);
    -webkit-transform: translateX(0px) translateY(0px) scale(0) rotate(360deg);
    -o-transform: translateX(0px) translateY(0px) scale(0) rotate(360deg);
    transform: translateX(0px) translateY(0px) scale(0) rotate(360deg); } }

@-webkit-keyframes linkedInSpin {
  0% {
    -webkit-transform: translateX(0px) translateY(0px) scale(0);
    transform: translateX(0px) translateY(0px) scale(0); }

  12% {
    -webkit-transform: translateX(0px) translateY(0px) scale(1);
    transform: translateX(0px) translateY(0px) scale(1); }

  25% {
    -webkit-transform: translateX(400px) translateY(-400px) scale(1) rotate(180deg);
    transform: translateX(400px) translateY(-400px) scale(1) rotate(180deg); }

  50% {
    -webkit-transform: translateX(0px) translateY(-500px) scale(1);
    transform: translateX(0px) translateY(-500px) scale(1); }

  75% {
    -webkit-transform: translateX(0px) translateY(0px) scale(1);
    transform: translateX(0px) translateY(0px) scale(1); }

  100% {
    -webkit-transform: translateX(0px) translateY(0px) scale(0) rotate(360deg);
    transform: translateX(0px) translateY(0px) scale(0) rotate(360deg); } }

@-moz-keyframes linkedInSpin {
  0% {
    -moz-transform: translateX(0px) translateY(0px) scale(0);
    transform: translateX(0px) translateY(0px) scale(0px); }

  12% {
    -moz-transform: translateX(0px) translateY(0px) scale(1);
    transform: translateX(0px) translateY(0px) scale(1); }

  25% {
    -moz-transform: translateX(400px) translateY(-400px) scale(1) rotate(180deg);
    transform: translateX(400px) translateY(-400px) scale(1) rotate(180deg); }

  50% {
    -moz-transform: translateX(0px) translateY(-500px) scale(1);
    transform: translateX(0px) translateY(-500px) scale(1); }

  75% {
    -moz-transform: translateX(0px) translateY(0px) scale(1);
    transform: translateX(0px) translateY(0px) scale(1); }

  100% {
    -moz-transform: translateX(0px) translateY(0px) scale(0) rotate(360deg);
    transform: translateX(0px) translateY(0px) scale(0) rotate(360deg); } }

@keyframes linkedInSpin {
  0% {
    -moz-transform: translateX(0px) translateY(0px) scale(0);
    -webkit-transform: translateX(0px) translateY(0px) scale(0);
    -o-transform: translateX(0px) translateY(0px) scale(0);
    transform: translateX(0px) translateY(0px) scale(0); }

  12% {
    -moz-transform: translateX(0px) translateY(0px) scale(1);
    -webkit-transform: translateX(0px) translateY(0px) scale(1);
    -o-transform: translateX(0px) translateY(0px) scale(1);
    transform: translateX(0px) translateY(0px) scale(1); }

  25% {
    -moz-transform: translateX(400px) translateY(-400px) scale(1) rotate(180deg);
    -webkit-transform: translateX(400px) translateY(-400px) scale(1) rotate(180deg);
    -o-transform: translateX(400px) translateY(-400px) scale(1) rotate(180deg);
    transform: translateX(400px) translateY(-400px) scale(1) rotate(180deg); }

  50% {
    -moz-transform: translateX(0px) translateY(-500px) scale(1);
    -webkit-transform: translateX(0px) translateY(-500px) scale(1);
    -o-transform: translateX(0px) translateY(-500px) scale(1);
    transform: translateX(0px) translateY(-500px) scale(1); }

  75% {
    -moz-transform: translateX(0px) translateY(0px) scale(1);
    -webkit-transform: translateX(0px) translateY(0px) scale(1);
    -o-transform: translateX(0px) translateY(0px) scale(1);
    transform: translateX(0px) translateY(0px) scale(1); }

  100% {
    -moz-transform: translateX(0px) translateY(0px) scale(0) rotate(360deg);
    -webkit-transform: translateX(0px) translateY(0px) scale(0) rotate(360deg);
    -o-transform: translateX(0px) translateY(0px) scale(0) rotate(360deg);
    transform: translateX(0px) translateY(0px) scale(0) rotate(360deg); } }

@-webkit-keyframes emailSpin {
  0% {
    -webkit-transform: translateX(0px) translateY(0px) scale(0);
    transform: translateX(0px) translateY(0px) scale(0); }

  12% {
    -webkit-transform: translateX(0px) translateY(0px) scale(1);
    transform: translateX(0px) translateY(0px) scale(1); }

  25% {
    -webkit-transform: translateX(-400px) translateY(400px) scale(1) rotate(180deg);
    transform: translateX(-400px) translateY(400px) scale(1) rotate(180deg); }

  50% {
    -webkit-transform: translateX(0px) translateY(500px) scale(1);
    transform: translateX(0px) translateY(500px) scale(1); }

  75% {
    -webkit-transform: translateX(0px) translateY(0px) scale(1);
    transform: translateX(0px) translateY(0px) scale(1); }

  100% {
    -webkit-transform: translateX(0px) translateY(0px) scale(0) rotate(360deg);
    transform: translateX(0px) translateY(0px) scale(0) rotate(360deg); } }

@-moz-keyframes emailSpin {
  0% {
    -moz-transform: translateX(0px) translateY(0px) scale(0);
    transform: translateX(0px) translateY(0px) scale(0); }

  12% {
    -moz-transform: translateX(0px) translateY(0px) scale(1);
    transform: translateX(0px) translateY(0px) scale(1); }

  25% {
    -moz-transform: translateX(-400px) translateY(400px) scale(1) rotate(180deg);
    transform: translateX(-400px) translateY(400px) scale(1) rotate(180deg); }

  50% {
    -moz-transform: translateX(0px) translateY(500px) scale(1);
    transform: translateX(0px) translateY(500px) scale(1); }

  75% {
    -moz-transform: translateX(0px) translateY(0px) scale(1);
    transform: translateX(0px) translateY(0px) scale(1); }

  100% {
    -moz-transform: translateX(0px) translateY(0px) scale(0) rotate(360deg);
    transform: translateX(0px) translateY(0px) scale(0) rotate(360deg); } }

@keyframes emailSpin {
  0% {
    -moz-transform: translateX(0px) translateY(0px) scale(0);
    -webkit-transform: translateX(0px) translateY(0px) scale(0);
    -o-transform: translateX(0px) translateY(0px) scale(0);
    transform: translateX(0px) translateY(0px) scale(0); }

  12% {
    -moz-transform: translateX(0px) translateY(0px) scale(1);
    -webkit-transform: translateX(0px) translateY(0px) scale(1);
    -o-transform: translateX(0px) translateY(0px) scale(1);
    transform: translateX(0px) translateY(0px) scale(1); }

  25% {
    -moz-transform: translateX(-400px) translateY(400px) scale(1) rotate(180deg);
    -webkit-transform: translateX(-400px) translateY(400px) scale(1) rotate(180deg);
    -o-transform: translateX(-400px) translateY(400px) scale(1) rotate(180deg);
    transform: translateX(-400px) translateY(400px) scale(1) rotate(180deg); }

  50% {
    -moz-transform: translateX(0px) translateY(500px) scale(1);
    -webkit-transform: translateX(0px) translateY(500px) scale(1);
    -o-transform: translateX(0px) translateY(500px) scale(1);
    transform: translateX(0px) translateY(500px) scale(1); }

  75% {
    -moz-transform: translateX(0px) translateY(0px) scale(1);
    -webkit-transform: translateX(0px) translateY(0px) scale(1);
    -o-transform: translateX(0px) translateY(0px) scale(1);
    transform: translateX(0px) translateY(0px) scale(1); }

  100% {
    -moz-transform: translateX(0px) translateY(0px) scale(0) rotate(360deg);
    -webkit-transform: translateX(0px) translateY(0px) scale(0) rotate(360deg);
    -o-transform: translateX(0px) translateY(0px) scale(0) rotate(360deg);
    transform: translateX(0px) translateY(0px) scale(0) rotate(360deg); } }

@-webkit-keyframes resumeSpin {
  0% {
    -webkit-transform: translateX(0px) translateY(0px) scale(0);
    transform: translateX(0px) translateY(0px) scale(0); }

  12% {
    -webkit-transform: translateX(0px) translateY(0px) scale(1);
    transform: translateX(0px) translateY(0px) scale(1); }

  25% {
    -webkit-transform: translateX(400px) translateY(400px) scale(1) rotate(180deg);
    transform: translateX(400px) translateY(400px) scale(1) rotate(180deg); }

  50% {
    -webkit-transform: translateX(600px) translateY(0px) scale(1);
    transform: translateX(600px) translateY(0px) scale(1); }

  75% {
    -webkit-transform: translateX(0px) translateY(0px) scale(1);
    transform: translateX(0px) translateY(0px) scale(1); }

  100% {
    -webkit-transform: translateX(0px) translateY(0px) scale(0) rotate(360deg);
    transform: translateX(0px) translateY(0px) scale(0) rotate(360deg); } }

@-moz-keyframes resumeSpin {
  0% {
    -moz-transform: translateX(0px) translateY(0px) scale(0);
    transform: translateX(0px) translateY(0px) scale(0); }

  12% {
    -moz-transform: translateX(0px) translateY(0px) scale(1);
    transform: translateX(0px) translateY(0px) scale(1); }

  25% {
    -moz-transform: translateX(400px) translateY(400px) scale(1) rotate(180deg);
    transform: translateX(400px) translateY(400px) scale(1) rotate(180deg); }

  50% {
    -moz-transform: translateX(600px) translateY(0px) scale(1);
    transform: translateX(600px) translateY(0px) scale(1); }

  75% {
    -moz-transform: translateX(0px) translateY(0px) scale(1);
    transform: translateX(0px) translateY(0px) scale(1); }

  100% {
    -moz-transform: translateX(0px) translateY(0px) scale(0) rotate(360deg);
    transform: translateX(0px) translateY(0px) scale(0) rotate(360deg); } }

@keyframes resumeSpin {
  0% {
    -moz-transform: translateX(0px) translateY(0px) scale(0);
    -webkit-transform: translateX(0px) translateY(0px) scale(0);
    -o-transform: translateX(0px) translateY(0px) scale(0);
    transform: translateX(0px) translateY(0px) scale(0); }

  12% {
    -moz-transform: translateX(0px) translateY(0px) scale(1);
    -webkit-transform: translateX(0px) translateY(0px) scale(1);
    -o-transform: translateX(0px) translateY(0px) scale(1);
    transform: translateX(0px) translateY(0px) scale(1); }

  25% {
    -moz-transform: translateX(400px) translateY(400px) scale(1) rotate(180deg);
    -webkit-transform: translateX(400px) translateY(400px) scale(1) rotate(180deg);
    -o-transform: translateX(400px) translateY(400px) scale(1) rotate(180deg);
    transform: translateX(400px) translateY(400px) scale(1) rotate(180deg); }

  50% {
    -moz-transform: translateX(600px) translateY(0px) scale(1);
    -webkit-transform: translateX(600px) translateY(0px) scale(1);
    -o-transform: translateX(600px) translateY(0px) scale(1);
    transform: translateX(600px) translateY(0px) scale(1); }

  75% {
    -moz-transform: translateX(0px) translateY(0px) scale(1);
    -webkit-transform: translateX(0px) translateY(0px) scale(1);
    -o-transform: translateX(0px) translateY(0px) scale(1);
    transform: translateX(0px) translateY(0px) scale(1); }

  100% {
    -moz-transform: translateX(0px) translateY(0px) scale(0) rotate(360deg);
    -webkit-transform: translateX(0px) translateY(0px) scale(0) rotate(360deg);
    -o-transform: translateX(0px) translateY(0px) scale(0) rotate(360deg);
    transform: translateX(0px) translateY(0px) scale(0) rotate(360deg); } }



