
/*Normalize html, body and container*/
    html,body {
      height: 100%;
    }

    body {
      color: #fff;
      text-align: center;
      text-shadow: 0 1px 3px rgba(0,0,0,.8);
    }

/*////////////////*/
/*Masthead Styling*/
/*////////////////*/

    .container-fluid > .row > .masthead {
      margin-bottom: 30px;
      padding: 0;
    }

    .masthead-title {
      color: black;
    }

    .masthead-nav{
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      color: white;
      padding: 10px;
    }

    .masthead-nav > li {
      display: inline-block;
    }

    .masthead-nav > li > a{
      color: black;
    }

    /*Masthead hover and active effects*/
    .masthead-nav > li > a:hover,
    .masthead-nav > li > a:focus {
      background-color: transparent;
      border-bottom: 2px solid black;
    }
    .masthead-nav > .active > a,
    .masthead-nav > .active > a:hover,
    .masthead-nav > .active > a:focus {
      border-bottom: 2px solid black;
    }

/*////////////////*/
/*Carousel Styling*/
/*////////////////*/

    .carousel-container {
        background-color: papayawhip;
        padding: 20px;
    }

    .carousel-container > .carousel-control {
        background-image: none;
    }

    .carousel-inner > .item > img {
        margin: 10px auto;
        width: 100%;
        height: 400px;
    }

    .carousel-caption {
      background-color: lightgrey;
      border: 2px solid black;
      color: black;
      border-radius: 10px;
      opacity: 0.8;
    }
